<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>

<h2>this is Index</h2>

<h3 th:text="${cinemaName}"></h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${movies.empty}">No movies available</tr>

    <tr th:each="movie : ${movies}">
        <td><span th:text="${movie.id}">ID</span></td>
        <td><span th:text="${movie.title}">Title</span></td>
        <td><span th:text="${movie.duration}">Duration</span></td>
    </tr>
    </tbody>
</table>
<!-- --------------- -->

<!--POST метод. Форма, в якій при переході на урлу /movie створиться newMovie -->
<form method="post" th:object="${newMovie}" th:action="@{/movie}">

    <input type="text" th:field="*{title}"/>
    <input type="text" th:field="*{duration}"/>
    <input type="text" th:field="*{directorId}"/>

    <input type="submit" value="Create movie">

</form>

</body>
</html>
